@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	font-family: "Open Sans", _Calibri, Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
}

p,ul,ol,dd {
	/*color:red;*/
	/*font-size:9px;*/
}


h1 {
	color:#176597;
	font-size:20px;
	font-weight:700;
	margin:0 2%;
	padding:0 1% 0 0;
	text-shadow:  2px 2px 8px #c0c0c0;
}

/*nuevo 2018-06-18  */
.cne-cabecera-titulo {
	font-family: "Open Sans";
	font-size:20px;
	font-weight:700;
	margin:0 2%;
	padding:0 1% 0 0;
	color: white;
}

.cne-cabecera-subtitulo {
	color: #dbdce0;
	font-size:14px;
	font-weight:700;
	margin:0 2%;
	padding:0 1% 0 0;
}

.cne-cabecera-bg{
	background-color: #2793e6 !important;
}

.cne-pie-bg{
	background-color: #FAFAFA !important;
}

/*fin nuevo 2018-06-18  */

h2 {
	color:#0207C8;
	font-size:14px;
	font-weight:700;
	margin:0 2%;
	padding:0 1% 0 0;
/*
	text-shadow:#C0C0C0 2px 2px 3px;
*/
}

/* h3 {
	color:#119AFE;
	font-size:20px;
	font-weight:700;
	margin:0 2%;
	padding:0 1% 0 0;
	text-shadow:#7D7D7D 1px 1px 2px;
}

h4 {
	color:#508CA0;
	color: #b2b8bd  !important;
	font-size:14px;
	font-weight:700;
	margin:0 2%;
	padding:0 1% 0 0;
	text-shadow:#C0C0C0 2px 2px 3px;
} */

/* h5 {
	color:white;
	font-size:12px;
	font-weight:700;
	text-shadow:#000000 2px 2px 3px;
} */

h6 {
	color:white;
	font-size:12px;
	margin:1%;
	padding:0;
	text-shadow:#000000 2px 2px 3px;
}

.ewreqmsg{
	font-size:16px;
	font-weight:bolder;
	color:red;
}

.titulo{
	font-size:20px;
	font-weight:bolder;
	color:#2793E6;
	text-shadow: 2px 2px 5px rgba(31,31,31,0.4);
}

.titulo2{
	font-size:16px;
	font-weight:bolder;
	color:#ffffff;
}